:root {
  --verde: #caffb9;
  --rojo: #d84727;
  --naranja: #ef8354;
  --negro: #13262f;
}

.container {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
}

* {
  font-family: "New Tegomin", serif;
}

.name {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.name h1 {
  font-size: 100px;
  font-family: "Boycott";
  color: white;
}

.name span {
  color: var(--verde);
  font-family: "Boycott";
}

.name form input {
  min-width: 300px;
  max-width: 300px;
  min-height: 40px;
  max-height: 40px;
  border-radius: 5px;
  border: 2px solid var(--verde);
  background: transparent;
  color: white;
  margin-right: 10px;
}

.name form input::placeholder {
  color: white;
  font-size: 20px;
  font-family: "New Tegomin", serif;
  padding: 10px;
}

.name form input:focus {
  font-size: 20px;
  outline: none;
  font-family: "New Tegomin", serif;
}

.btn {
  width: 100px;
  height: 40px;
  background: var(--verde);
  border: none;
  border-radius: 10px;
  cursor: pointer;
}

.chat-wrapper {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
}

.points {
  width: 60%;
  height: 100%;
}

.chat {
  width: 40%;
  max-height: 100vh;
  position: relative;
  background: white;
  overflow: scroll;
}

.divRef {
  margin-top: 100px;
}

.send {
  width: 100%;
  position: absolute;
  z-index: 3;
  bottom: 0px;
  height: 90px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #f4f4f4;
}

.send form .btn {
  width: 20%;
  height: 60px;
  background: none;
  border: none;
  border-left: 0px;
  border-radius: 0px;
  cursor: pointer;
}

.send form .btn img {
  width: 50px;
}

.send form {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.send form input {
  width: 80%;
  border: none;
  margin-left: 20px;
  margin-right: 20px;
  border-radius: 15px;
  background: #ededed;
}

.send form input::placeholder {
  font-size: 20px;
  padding-left: 10px;
}

.send form input:focus {
  font-size: 20px;
  outline: none;
}

.container-messages {
  margin-top: 30px;
  padding-left: 30px;
}

.message {
  width: 300px;
  height: 100%;
  min-height: 35px;

  margin: 10px;
  margin-top: -10px;
  background: white;
  padding: 5px;

  padding-left: 10px;
  margin-left: 70px;
  border-radius: 0px 15px 15px 15px;
  padding-bottom: 10px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
    rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
  display: flex;
  align-items: center;
}

.green {
  width: 300px;
  height: 100%;
  min-height: 30px;
  margin: 10px;
  margin-top: -10px;
  background: var(--verde);
  padding: 5px;
  padding-left: 10px;
  border-radius: 0px 15px 15px 15px;
  padding-bottom: 10px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
    rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
  margin-left: 70px;
  display: flex;
  align-items: center;
}

.red {
  width: 300px;
  height: 100%;
  min-height: 30px;
  margin: 10px;
  margin-top: -10px;
  background: var(--rojo);
  padding: 5px;
  padding-left: 10px;
  border-radius: 0px 15px 15px 15px;
  padding-bottom: 10px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
    rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
  margin-left: 70px;
  display: flex;
  align-items: center;
}

.orange {
  width: 300px;
  height: 100%;
  min-height: 30px;
  margin: 10px;
  margin-top: -10px;
  background: var(--naranja);
  padding: 5px;
  padding-left: 10px;
  margin-left: 70px;
  border-radius: 0px 15px 15px 15px;
  padding-bottom: 10px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
    rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
  display: flex;
  align-items: center;
}

.black {
  width: 300px;
  height: 100%;
  min-height: 30px;
  margin: 10px;
  margin-top: -10px;
  background: var(--negro);
  color: white;
  padding: 5px;
  padding-left: 10px;
  margin-left: 70px;
  border-radius: 0px 15px 15px 15px;
  padding-bottom: 10px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
    rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
  display: flex;
  align-items: center;
}

.mensaje-wrap span {
  font-size: 20px;
}

.name-wrap {
  display: flex;
  align-items: center;
}

.name-wrap img {
  width: 50px;
  margin: 10px;
}
.nombre {
  font-size: 20px;
  text-align: center;
}

.leyenda {
  display: flex;
  padding: 10px;
  justify-content: center;
  border-bottom: 1px dashed var(--negro);
}

.verde::before {
  content: "";
  margin-left: -20px;
  margin-top: 6px;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  position: absolute;
  background: var(--verde);
}

.rojo::before {
  content: "";
  margin-left: -20px;
  margin-top: 6px;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  position: absolute;
  background: var(--rojo);
}

.naranja::before {
  content: "";
  margin-left: -20px;
  margin-top: 6px;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  position: absolute;
  background: var(--naranja);
}

.negro::before {
  content: "";
  margin-left: -20px;
  margin-top: 6px;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  position: absolute;
  background: var(--negro);
}

.leyenda div {
  padding: 20px;
}

.points {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.points h2 {
  color: white;
  font-size: 40px;
  text-align: center;
  line-height: 20px;
  letter-spacing: 3px;
  font-family: "Flix";
}

.image-points {
  display: flex;
  justify-content: center;
}

.image-points img {
  border: 2px solid white;
  border-radius: 10px;
  width: 500px;
}

.description-points {
  display: flex;
  justify-content: center;
}

.description-points p {
  color: white;
  width: 60%;
  font-size: 30px;
  padding: 10px;
  text-align: center;
}

.wrapper-popup {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.popup {
  width: 60%;
  height: 60%;
  background: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
}

.popup h3 {
  font-size: 2em;
}

.popup p {
  font-size: 20px;
}

.popup img {
  width: 50px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.logo {
  position: absolute;
  left: 20px;
  top: 10px;
}

.logo h2 {
  color: white;
}

.logo span {
  color: var(--verde);
}

@media (max-width: 800px) {
  .chat-wrapper {
    width: 100%;
    height: 100%;
    min-height: 500px;
    display: flex;
    justify-content: center;
    flex-direction: column;
  }

  .chat {
    max-height: none;
    height: 100%;
  }

  body {
    width: 100%;
    overflow-x: hidden;
  }

  .points {
    width: 100%;
  }

  .logo {
    position: absolute;
    left: 15px;
    top: -15px;
  }

  .chat {
    width: 100%;
  }
  .name-wrap img {
    width: 30px;
  }

  .points h2 {
    margin-top: 70px;
  }

  .send {
    width: 100%;
  }

  .avatar img {
    width: 30px;
  }

  .message,
  .green,
  .orange,
  .black,
  .red {
    width: 200px;
    min-height: 30px;
    margin: 0px;
    margin-left: 20px;
    font-size: 15px;
  }

  .image-points {
    width: 100%;
  }

  .leyenda {
    width: 100%;
  }

  .leyenda div {
    padding: 10px;
    font-size: 13px;
  }
  .mensaje-wrap span {
    font-size: 15px;
  }

  .negro::before,
  .verde::before,
  .naranja::before,
  .rojo::before {
    width: 10px;
    height: 10px;
    margin-left: -12px;
  }

  .image-points img {
    width: 200px;
  }

  .description-points p {
    width: 90%;
    font-size: 16px;
  }

  .send {
    bottom: 0;
    height: 80px;
    background: #f4f4f4;
    padding: 0px;
    margin: 0px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .send form input {
    width: 80%;
    padding: 0px;
    border-radius: 13px;
    border: none;
    background: #ededed;
    margin: 20px;
    height: 50px;
  }

  .send form input::placeholder {
    font-size: 15px;
    padding-left: 10px;
  }

  .send form input:focus {
    padding-left: 10px;
  }

  .send form .btn {
    height: 100%;
    background: none;
    border: none;
    cursor: pointer;
  }

  .send form .btn:focus {
    outline: none;
  }

  .send form .btn img {
    width: 35px;
  }

  .name h1 {
    font-size: 80px;
    text-align: center;
    line-height: 95px;
  }

  .name form {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .name form input {
    margin-right: 0px;
  }

  .name form .btn {
    margin-top: 20px;
  }

  .popup {
    width: 90%;
    height: 70%;
  }

  .popup h3 {
    text-align: center;
  }
}
